.place__paragraph {
  margin: 0;
  padding: 0 0 26px;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    padding-bottom: 27px;
  }
}

@media screen and (max-width: 886px) {
  .place__paragraph {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 760px) {
  .place__paragraph {
    padding-left: 16px;
    padding-right: 16px;
  }
}